@font-face {
  font-family: 'Arial', sans-serif;
  src: url(./../fonts/Arialn.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url(./../fonts/ArialTh.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url(./../fonts/ARIBL0.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Arial', sans-serif;
  src: url(./../fonts/G_ari_bd.TTF);
  font-weight: 600;
}
@font-face {
  font-family: 'passstar';
  src: url('./../fonts/passStar/passstar.eot');
  src: url('./../fonts/passStar/passstar.eot') format('embedded-opentype'),
  url('./../fonts/passStar/passstar.woff') format('woff'),
  url('./../fonts/passStar/passstar.ttf') format('truetype'),
  url('./../fonts/passStar/passstar.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}