.inst-login{
  background: #FFFFFF;
  border-radius: 10px;
  max-height: 641px;
  overflow: hidden;
  display: flex;
  &__wrapper{
    padding: 0 20px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    max-width: 550px;
    display: none;

    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    @include md{
      max-width: 1200px;
    }
    &.open{
      display: flex;
    }
    &::after{
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      background-color: black;
    }
  }
  &__wrap-img{
    display: none;
    @include md{
      display: block;
      width: 50%;
    }
    img{
      height: 100%;
    }
  }
  &__content{
    padding: 35px 16px;
    @include xs{
      padding: 40px 20px;
    }
    @include sm{
      padding: 66px 57px;
    }
    @include md{
      width: 60%;
      padding: 45px 35px;
    }
    @include l{
      width: 50%;
    }
    @include xl{
      padding: 66px 57px;
    }
  }
  &__wrap-form{
    padding-bottom: 30px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 25px;
    max-width: 390px;
  }
  .form__title{
    @include md{
      font-weight: 700;
    }
  }
  .button{
    margin-bottom: 20px;
  }
  .forgotPassBnt{
    display: block;
    margin-left: auto;
    text-align: end;
  }
}