.review{
  background: #FFFFFF;
  box-shadow: 0 15px 70px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  position: relative;
  z-index: 1;
  padding: 0 20px 25px;
  margin: -100px 20px 60px;
  @include md{
    display: flex;
  }
  @include xl{
    margin: -60px auto 140px;
    width: 100%;
    max-width: 1100px;
    padding: 10px 44px 35px;
  }
  &::after{
    position: absolute;
    z-index: -1;
    content: "";
    top: -22px;
    left: 0;
    width: 100%;
    height: 80%;
    background: #ffffff;
    transform: skewY(6deg);
    border-radius: 12px 12px 0 0;
    box-shadow: -35px -135px 90px rgb(0 0 0 / 5%);
    @include sm{
      transform: skewY(4deg);
    }
    @include md{
      transform: skewY(2.5deg);
    }
  }
  &__img{
    margin-right: 30px;
    margin-bottom: 12px;

    @include md{
      margin-bottom: 0;
      margin-top: -15px;
    }
    @include xl{
      margin-top: -5px;
    }
    img{
      margin-top: -20px;
      max-width: 110px;
      @include md{
        max-width: 100%;
        margin-top: 0;
      }
    }
  }
  &__content{
    font-size: 16px;
    line-height: 28px;
    @include md{
      width: calc(100% - 140px);
      font-size: 18px;
      line-height: 30px;
      padding-top: 30px;
    }
    @include xl{
      font-size: 24px;
      line-height: 36px;
      width: calc(100% - 210px);
    }
  }
  &__name{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: $secondAccent;
    margin-top: 5px;
    @include md{
      font-size: 20px;
      line-height: 30px;
      margin-top: 10px;
    }
    @include xl{
      font-size: 24px;
      line-height: 36px;
    }
  }
}